* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  font-family: Arial, Helvetica, sans-serif;
}

.weather {

  padding: 10px;
  width: 350px;
  font-size: 1.5rem;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: linear-gradient(#93c5fd, white);
  border-radius: 10px;
  

}

.weather .city {
  font-size: 2rem;
}
